body{
    background-color: yellow;
    font-family: monospace;
    font-weight: bold
    ;
}
@media (min-width: 780px) {
    .social{
        padding-top: 20px;
    }
    
    i{
        transition: ease-in-out 0.4s;
        transition-timing-function: ease-in-out; 
        
    }
    
    i:hover{
        color:#067e7e;
        font-size: 80px;
        
    }
    
    .output{
        font-size: 30px;
    }
        
    footer{
        margin-left: 510px;
        margin-top: 100px;
    }
    .container{
        border-radius: 50px;
background: #55b9f3;
box-shadow:  25px 25px 50px #285772, 
             -25px -25px 50px #82ffff;
        color:black;
        padding: 30px;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 100px;
    }
    
    .button-div{
        padding-top: 15px;
        padding-left: 90px;
    }
    
    button{
        background-color: white;
        color: #db4b59;
        font-size: 20px;
    }
    input{
        border: none;
    }
}




@media (max-width: 480px) {
    input{
        border: none;
    }
    .container{
        margin-top: 100px;
        padding: 20px;
        border-radius: 5px;
        border-radius: 50px;
        background: #55b9f3;
        box-shadow:  25px 25px 50px #285772, 
                     -25px -25px 50px #82ffff;
    }
    .button-div {
        padding-left: 75px;
        padding-top: 20px;
    }
    button{
        background-color: white;
        color: #db4b59;
        font-size: 20px;
    }
    .output{
        font-size: 30px;
    }
    i{
        transition: ease-in-out 0.4s;
        transition-timing-function: ease-in-out;
        font-size: 10px; 
        
    }
    
    i:hover{
        color: #f11c32;
        font-size: 40px;
        
    }

    footer{
        margin-top: 30px;
        margin-left: 60px;
    }
    
        
  }